{% extends 'base.html.twig' %}

{% block title %}Tasked Hospital System Login{% endblock %}

{% block body %}

<div class="container mt-3">
<h1><i class="fa fa-lock" aria-hidden="true"></i> Tasked Hospital System Login</h1>


        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal">Admin Login</h1>
            <div class="form-group">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-dark btn-lg" type="submit">
                Login
            </button>
        </form>


</div>
{% endblock %}
