{% extends 'base.html.twig' %}

{% block title %}Hospital Listings | Home{% endblock %}

{% block body %}


<div class="container">
    <h1>Welcome to the Hospital Listings System</h1>

<p>This web application allows an end user to browse Hospital listings, click into a hospital's page and to send a message to a hospital.</p>


</div>
{% endblock %}
