
{% extends 'base.html.twig' %}

{% block title %}Create Hospital{% endblock %}

{% block body %}
<div class="container mt-3">

    <h1><i class="fa fa-hospital-o" aria-hidden="true"></i> Create Hospital</h1>

    {{ include('hospital/_form.html.twig', {button_text: "Create Hospital"} ) }}


</div>

{% endblock %}