{% extends 'base.html.twig' %}

{% block title %}Admin Hospital Listings{% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ hospital.name }}</h1>

        <p>Address:  {{ hospital.address }}</p>
        <p>Phone Number:  {{ hospital.phoneNumber }}</p>


        TODO:  CONTACT FORM...




    </div>

{%  endblock %}