{% extends 'base.html.twig' %}

{% block title %}403 Forbidden{% endblock %}

{% block body %}
<div class="container">

    <h1>403 Forbidden</h1>
    <p>Unfortunately, you do not have permission to login to this page. :(</p>

    <p>Go back <a class="btn btn-lg btn-primary" href="{{ path('home') }}">Home</a></p>

</div>




{% endblock %}