{% extends 'base.html.twig' %}

{% block title %}Edit Hospital{% endblock %}

{% block body %}

<h1>403 Forbidden</h1>

<p>Unfortunately, you do not have permission to login to this page. :(</p>

<p>Go back <a href="{{ path('home') }}">Home</a></p>

{% endblock %}